body {
    margin: 0;
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    /* 스크롤바 숨기기 */
    display: none;
}
#container {
    box-sizing: border-box;
    width: 100vw;
    padding: 0;
    margin: 0 auto;
    background-color: black;
    color: #A9A9A9;
    font-family: "Pretendard";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 36px */
    letter-spacing: -0.72px;
}
p {
    margin: 0px;
}
#header {
    position: relative;
    overflow: hidden;
    width: auto;
    height: 1258px;
}
#header > * {
    position: absolute;
}
#header #human {
    width: 1486px;
    height: 1290px;
    left: 195px;
    top: -18px;
}
#header #youtubeLogo {
    width: 709px;
    height: 529px;
    top: 306px;
    left: 607px;
}
#header #ellipse {
    width: 600px;
    height: 438px;
    top: 348px;
    left: 660px;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0.00) 0%, rgba(0, 0, 0, 0.50) 77.5%);
    border-radius: 600px;
}
#header #humanHand {
    width: 1488px;
    height: 847px;
    top: 420px;
    left: 195px;
}
#header #slash1 {
    top: 127px;
}
#header #slash2 {
    top: 897px;
}
#header #slash3 {
    top: 585px;
}
#header marquee {
    width: 1978px;
    top: 848px;
    left: -28px;
    color: #000;
    font-family: "Elice Digital Baeum";
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 90px */
    letter-spacing: -1.8px;
    transform: rotate(12.394deg);
}
#header #title {
    top: 298px;
    left: 568px;
}
#header #cover {
    width: 40px;
    height: 40px;
    bottom: 0px;
    left: 900px;
    background-color: #000;
}
.title-yellow {
    color: #FBC010;
    font-family: "Elice Digital Baeum";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 45px */
    letter-spacing: -0.9px;
    margin-left: 360px;
}
.title-white {
    margin-bottom: 55px;
    color: #FFF;
    font-family: "Elice Digital Baeum";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 60px */
    letter-spacing: -1.2px;
}
#distrust {
    display: flex;
    height: 481px;
    padding-top: 38px;
    padding-left: 360px;
}
#distrust img {
    width: 450px;
    height: 292px;
    margin-top: 17px;
    margin-right: 74px;
}
#justice {
    box-sizing: border-box;
    height: 807px;
    padding-top: 143px;
    padding-left: 362px;
    background-image: url("../img/crowd.png");
    background-size : 100% 100%;
}
.title-slash-line {
    position: relative;
}
.title-slash-line .title-black {
    position: absolute;
    top: 26px;
    color: #000;
    text-align: center;
    font-family: "Elice Digital Baeum";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 60px */
    letter-spacing: -1.2px;
}
#abolition .title-slash-line .title-black  {
    left: 657px;
}
#running .title-slash-line .title-black  {
    left: 716px;
}
#viewpoint .title-slash-line .title-black  {
    left: 690px;
}
.youtubers {
    margin-top: 66px;
}
.youtubers > .channel {
    box-sizing: border-box;
    display: flex;
    position: relative;
    height: 239px;
    padding-top: 49px;
    padding-left: 268px;
    /* background-color: #FBC010; */
    color: #030303;
    font-family: "Pretendard";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 36px */
    letter-spacing: -0.72px;
    /* border: 1px solid red; */
}
.youtubers > .channel > .left_channel {
    width: 933px;
    height: 239px;
    position: absolute;
    top: -1px;
    left: 74px;
    /* z-index: 3; */
}
.youtubers > .channel > .right_channel {
    width: 844px;
    height: 239px;
    position: absolute;
    top: -1px;
    right: 115px;
    /* z-index: 3; */
}
.youtubers > .channel > .profile {
    width: 142px;
    height: 142px;
    /* margin-left: 84px; */
    margin-left: 100px;
    margin-right: 52px;
    z-index: 1;
}
.youtubers > .channel > #arrestMark {
    position: absolute;
    width: 193px;
    height: 155px;
    top: -13px;
    left: 287px;
    transform: rotate(-20.683deg);
    z-index: 2;
}
.youtubers > .channel > #prosecutionMark {
    position: absolute;
    width: 178px;
    height: 144px;
    top: -10px;
    left: 922px;
    transform: rotate(-21.244deg);
    z-index: 2;
}
.youtubers > .channel > div {
    z-index: 0;
}
.youtubers > .channel .youtube-name {
    margin-bottom: 15px;
    color: #030303;
    font-family: "Elice Digital Baeum";
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: -1.92px;
}
.youtubers > .channel .text-white {
    color: #FFF;
}
.youtube {
    display: grid;
    grid-template-columns: 588px 588px;
    grid-template-rows: 329px 329px;
    gap: 73px 24px;
    width: 1200px;
    height: 731px;
    margin: 92px auto 42px auto;
    color: #A9A9A9;
    font-family: "Pretendard";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 30px */
    letter-spacing: -0.6px;
}
#good {
    padding: 156px 360px 16px 360px;
}
#good > .title-yellow {
    margin-left: 0px;
    margin-bottom: 58px;
}
#good > .image {
    width: 1200px;
}
#good > .title-white {
    margin-top: 70px;
    margin-bottom: 56px;
}
#bad {
    padding: 156px 240px 166px 360px;
}
#bad > .title-yellow {
    margin-left: 0px;
    margin-bottom: 68px;
}
#bad > div {
    display: flex;
}
#bad > #unclear {
    margin-bottom: 129px;
}
#bad > #unclear .image {
    width: 281px;
    margin-right: 109px;
}
#bad > #unclear div {
    padding-top: 4px;
}
#bad > #personal .image {
    width: 281px;
    height: 256px;
    margin-top: 17px;
    margin-right: 109px;
}
#footer {
    width: 1920px;
    height: 116px;
    background: #101010;
    color: #747474;
    text-align: center;
    font-family: "Pretendard";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 116px; /* 24px */
    letter-spacing: -0.48px;
}